<script type="text/template" id="edit-form">
    <div class="container col-lg-6 col-md-6">
        <form class="edit-form">
            <fieldset class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="<%- title %>">
            </fieldset>
            <fieldset class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="<%- description %>">
            </fieldset>
            <button type="submit" class="btn btn-primary">Edit</button>
            <button class="cancel btn btn-primary">Cancel</button>
        </form>
    </div>
    <div id="editAlert" class="alert alert-danger fade in">
        <div id="alertMessage"></div>
    </div>
</script>