<script type="text/template" id="item">
    <div class=" col-sm-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><%- title %><a class="delete pull-right" href="#" data-id="<%- id %>">&#10006;</a></h3>
            </div>
            <div class="panel-body"><%- description %></div>
            <div class="panel-footer">
                <a class="edit pull-left" href="#" data-id="<%- id %>">edit</a>
                <a class="like pull-right" href="#" data-id="<%- id %>">
                    <%
                        if (ifUserLiked) {
                            %><b>Likes: <%- likes.length %></b><%
                        } else {
                            %>Likes: <%- likes.length %><%
                        }
                    %>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</script>